extends layout

//- // Require controller modules
//- var user_controller = require('../controllers/userController');

block content
  h1= title
  p Welcome to #{title}
  p Katrina get off facebook

    .container
      .row
        form(action='/', method='post')
          label(for='name').label Name:
          div.field
            p.control.has-icons-left
              input#name.input(type="name" placeholder="John Smith").is-rounded
              span.icon.is-small.is-left
                i.fas.fa-user

          label(for='email').label Email:
          div.field
            p.control.has-icons-left
              input#email.input(type="email" placeholder="johnsmith@gmail.com").is-rounded
              span.icon.is-small.is-left
                i.fas.fa-envelope

          label(for='dateOfBirth').label Date Of Birth:
          div.field
            p.control.has-icons-left
              input#dateOfBirth.input(type="date").is-rounded
              span.icon.is-small.is-left
                i.far.fa-calendar

          label(for='employmentStartDate').label Employment Start Date:
          div.field
            p.control.has-icons-left
              input#employmentStartDate.input(type="date").is-rounded
              span.icon.is-small.is-left
                i.far.fa-calendar

          label(for='modernAward').label Modern Award:
          div.field
            p.control.has-icons-left.has-icons-right
              select#modernAward.input(type="select" placeholder="Clerks - Private Sector").is-rounded
                option(value="134801") Clerks - Private Sector
                option(value="134804")  General Retail Industry
                option(value="134806")  Hospitality Industry
                option(value="134805")  Registered and Licensed Clubs
                option(value="134803")  Fast Food Industry
              span.icon.is-small.is-left
                i.fas.fa-money-check

          label(for='typeEmployment').label Type of Employment:
          div.field
            p.control.has-icons-left
              select#typeEmployment.input(type="select").is-rounded
              span.icon.is-small.is-left
                i.far.fa-calendar

          label(for='levelEmploymemt').label Level of Employment:
            div.field
              p.control.has-icons-left
                select#levelEmployment.input(type="select").is-rounded
                span.icon.is-small.is-left
                  i.far.fa-calendar

          button.btn.waves-effect.waves-light.right(type='submit', value='Submit').button.is-primary
              | Search
