// Require controller modules
var user_controller = require('../controllers/userController');


extends layout


block content
  h1= title
  p Welcome to #{title}
  p Katrina get off facebook

    .container
      .row
        form(action='/result', method='post')
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='first and last' name='name')
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
          div.form-group
            label(for='dateOfBirth') Date Of Birth:
            input#dateOfBirth.form-control(type='text', placeholder='YYYY-MM-DD' name='dateOfBirth')
          div.form-group
            label(for='employmentStartDate') Employment Start Date:
            input#employmentStartDate.form-control(type='text', placeholder='YYYY-MM-DD' name='employmentStartDate')
          div.form-group
            label(for='modernAward') Modern Award:
            input#modernAward.form-control(type='text', placeholder='modern award' name='modernAward')
          div.form-group
            label(for='employmentStatus') Employment Status:
            input#modernAward.form-control(type='text', placeholder='ft, pt, cas' name='employmentStatus')
          div.form-group
            label(for='levelEmployment') Level of Employment:
            input#modernAward.form-control(type='text', placeholder='Level of Employment' name='levelEmployment')
          button.btn.waves-effect.waves-light.right(type='submit', value='Submit')
              | Search
